<header class="header container">
    <div class="logo">
        <a href="/">
            <h1>Decode Blog</h1>
        </a>
    </div>
    <form class="searchBlog">
        <input type="text" name="search" class="input" placeholder="Поиск по блогам">
        <button class="seacrhBtn button"><i class="fa-solid fa-magnifying-glass"></i></i> Найти</button>
    </form>
    <div class="authBlog">
        
        <% if(user._id && user.full_name.length > 0) { %>
            <div class="profileBlog">
                <a href="/profile/<%= user._id %>"><img src="/img/avatar.png" alt="avatarUser"></a>
            </div>
        <% }else {%>
            <a href="/login">
                <button class="logInBtn button">Вход</button>
            </a>
            <a href="/register">
                <button class="registrationBtn button">Регистрация</button>
            </a>
        <% } %>
    </div>
</header> 