<header class="header container">
    <div class="logo">
        <h1 class="logoName">Decode Blog</h1>
    </div>
    <div class="searchBlog">
        <input type="text" placeholder="Поиск по блогам">
        <button class="seacrhBtn"><i class="fa-solid fa-magnifying-glass"></i></i> Найти</button>
    </div>
    <div class="profileBlog">
        <img src="https://images.pexels.com/photos/18365722/pexels-photo-18365722.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="avatarUser">
        <!-- /img/avatar.png -->
    </div>
</header>