<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Edit Blog</title>
</head>
<body>
    <%- include('partials/profileHeader.ejs') %>
    <section class="newBlog">
        <form class="formNewBlog" action="">
            <h2>Редактировать блог</h2>
            <fieldset class="fieldset">
                <input class="input" type="text" placeholder="Введите заголовок блога">
            </fieldset>
            <fieldset class="fieldset">
                <select  name="" id="">
                    <option selected>Выберите категорию</option>
                    <% categories.forEach(category => { %>
                        <option value=""><%= category.name %></option>
                    <%})%>
                </select>
            </fieldset>
                <button class="btnSelectAnImage button">Выберите картинку</button>
            <fieldset class="fieldset">
                <textarea rows="8" placeholder="Введите описание блога"></textarea>
            </fieldset>
                <button class="button" type="submit" >Изменить</button>
        </form>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>