<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Log In</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="logInBlog">
        <form action="/api/signin" method="post"  class="form">
            <h2 class="logInTitle">Вход</h2>
            <fieldset class="fieldset">
                <input class="input" type="text" placeholder="Введите email" name="email">
            </fieldset>
            <fieldset class="fieldset">
                <input class="input" type="password" placeholder="Введите пароль" name="password">
            </fieldset>
            <fieldset class="fieldset">
                <button type="submit" class="button">Войти</button>
            </fieldset>
            <p>У вас нету аккаунта? <a href="/register">Зарегистрироваться</a></p>
        </form>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>