<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="logInBlog">
        <h2 class="logInTitle">Вход</h2>
        <form action="" class="formLogIn">
            <input class="input" type="text" placeholder="Введите email">
            <input class="input" type="text" placeholder="Введите пароль">
            <button type="submit" class="button">Войти</button>
        </form>
    </section>
</body>
</html>