<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="logInBlog">
        <h2 class="logInTitle">Регистрация</h2>
        <form action="" class="formLogIn">
            <input class="input" type="text" placeholder="Введите email">
            <input class="input" type="text" placeholder="Введите полное имя">
            <input class="input" type="text" placeholder="Введите пароль">
            <input class="input" type="text" placeholder="Подтвердите пароль">
            <button class="button" type="submit">Зарегистрироваться</button>
        </form>
    </section>
</body>
</html>