<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Registration</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="logInBlog">
        <form action="/api/signup" method="post" class="form">
            <fieldset class="fieldset">
                <input class="input" type="text" placeholder="Введите email" name="email">
            </fieldset>
            <fieldset class="fieldset">
                <input class="input" type="text" placeholder="Введите полное имя" name="full_name">
            </fieldset>
            <fieldset class="fieldset">
                <input type="password" class="input" placeholder="Введите пароль" name="password">
            </fieldset>
            <fieldset class="fieldset">
                <input type="password" class="input" placeholder="Подтвердите пароль" name="re_password">
            </fieldset>
            <fieldset class="fieldset">
                <button class="button" type="submit">Зарегистрироваться</button>
            </fieldset>
            <p>У вас уже есть аккаунт? <a href="/login">Войти</a></p>
        </form>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>