
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    align-items: center;
}
.form h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form .fieldset{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-bottom: 20px;
}

.fieldset input{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #E7E7E7 !important;
    outline: none;
    box-sizing: border-box;
}
.fieldset button{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fieldset textarea{
    width: 50%;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}