.main{
    display: flex;
    gap: 20px;
}

/* cardBlock */
.cardBlock{
    width: 75%;
    padding: 20px 40px;
}
/* blockCardItem */
.blockCardItem{
    width: 80%;
    margin: 0 auto;
}
.cardText{
    text-align: center;
    margin-bottom: 50px;
}
.cardText .cardTitle{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cardText .cardSubtitle{
    font-size: 20px;
    font-weight: 400;
}

/* cardPost */
.cardImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.cardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postDescription, .postMoreDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.postDescription .postTitle, .postMoreDescription .postTitle{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.postDescription .postSubtitle, .postMoreDescription .postSubtitle{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* postOverview */
.postOverview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.postOverview i{
    margin-right: 15px;
    cursor: pointer;
}
.postDate, .postViews, .postComments, .postCategory, .postAuthor{
    display: flex;
    align-items: center;
}


/* categoryBlock */
.categoryBlock{
    width: 25%;
    height: max-content;
    padding: 45px;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.25);
}
.categoryBlock .categoryTitle{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
.categoryList li{
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;
    font-size: 16px;
    font-style: 500px;
    color: #007BFF;
    cursor: pointer;
}
.categoryList li:last-child{
    border-bottom: none;
}
